body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top:0;
    left: 0;
}
main{
    margin: 0 auto;
    position: relative;
    width: 1080px;
}
.barrasuperior{
    background-color: #818181;
    height: 55px;
    width: 100%;
}

.logopequena{
    padding: 4px;
}

.barrabusca{
    background-color: #bbbbbb;
    height: 55px;
    width: 1080px;
    display: flex;
    transition: all 0.3s ease;
}

.busca{
    margin-top: 2px;
}

.busca input{
    background-color: #bbbbbb;
    height: 50px;
    width:900px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: #838383;
    border: 0;
    box-shadow: 0;
    outline: 0;
}

.lista{
    background-color: #bbbbbb;
    width: 1080px;
    display: block;
    text-decoration: none;
    height:760px; /*<<<<<<<<<<<<<<<RESOLVER!!!!!!!*/
    overflow: auto;
}
#resultado{
    width:1040px;
    height:150px;
    background-color: rgb(224, 224, 224);
    margin-left:12px;
    margin-top:10px;
    margin-bottom: 10px;
    display:flex;
    text-decoration: none;
}
#foto{
    width:200px;
    height: 140px;
    background-color: chocolate;
    margin-top:5px;
    margin-left:5px;
    float: left;
}
#conteudodivcaixa{
    width: 650px;
    height: 140px;
    background-color: cornflowerblue;
    margin-top:5px;
    margin-left:5px;
    display:block;
    text-decoration: none;
}
#classificacao{
    width: 170px;
    height: 140px;
    background-color: darkgoldenrod;
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: none;
}
#titulodivcaixa{
    width: 640px;
    height: 30px;
    margin-left:5px;
    margin-top: 5px;
    background-color: darkgray;
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}
#descricaodivcaixa{
    width: 640px;
    height: 95px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: darkgray;
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    color: rgb(61, 61, 61);
}

.barrabusca{
    opacity: 0.8;
}

.barrabusca:hover{
    opacity: 1;
}

.lupa{
    padding: 8px;
    float: left;
    margin-bottom: 1px;
}

.rodape{
    height: 55px;
    background-color: #818181;
    width: 100%;
    position: absolute;
    bottom: 0;
    
}