.botaobuscaprincipal{
    background-color: #bbbbbb;
    height: 40px;
    width: 1080px;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: #838383;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0.8;
}

.botaobuscaprincipal:hover{
  opacity: 1;
}

.botao{
  background-color: hsl(0, 0%, 51%);
  float: left;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  color: #252525;
  align-items: center;
  margin: auto;
  margin-Top: 0px;
  opacity: 0.8;
}

.botao:hover{
  opacity:1;
}